/*
 * Coredump flash partition for nRF52840DK
 * See lib/crash_log/boards/ for details.
 */

&flash0 {
	partitions {
		/delete-node/ partition@f8000;

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00005000>;
		};

		coredump_partition: partition@fd000 {
			label = "coredump";
			reg = <0x000fd000 0x00003000>;
		};
	};
};
